Source: term-meta
Section: metapackages
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2

Package: term-meta
Architecture: all
Depends:
 cage-nox | cage,
 foot,
Recommends:
 fonts-courier-nerd,
 tmux,
 wlr-randr,
Description: Terminal meta-package
